@model LoginViewModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Areas/Admin/Views/Shared/_AuthLayout.cshtml";
    @removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
}

@section Scripts {
    <script>
        $(document).ready(function () {
             HideLoader();
             resetCaptchaImage();
        });

        function SubmitsEncry() {
            var txtUserName = document.getElementById("Username").value.trim();
            var txtpassword = document.getElementById("Password").value.trim();
            var txtCaptcha = document.getElementById("Captcha").value.trim();
            if (txtUserName == "") {
                resetCaptchaImage();
                ShowMessage('Please enter UserName',"","error");
                return false;
            }
            else if (txtpassword == "") {
                resetCaptchaImage();
                ShowMessage('Please enter Password',"","error");
                return false;
            }
            else if (txtCaptcha == "") {
                resetCaptchaImage();
                ShowMessage('Please enter Captcha',"","error");
                return false;
            }
            else {
                txtUserName.value = FrontEncryptFront("Username");
                $('#Password').val(FrontValue($('#Password').val() +"exegil"+ $('#Captcha').val()));
                $('form#loginForm').submit();
                return true;
            }
        }

        function resetCaptchaImage() {
            var fdhfCaptcha = document.getElementById("hfCaptcha");
            var token = $('input[name="AntiforgeryFieldname"]').val();
            $.ajax({
                destroy: true,
                type: "get",
                contentType: "application/x-www-form-urlencoded",
                url: ResolveUrl("/GetCaptchaDetails?strLast=" + document.getElementById("hfCaptcha").value),
                success: function (data) {
                    var maindata = data.result;
                    if (!data.isError) {
                        // Define the string, also meaning that you need to know the file extension
                        var encoded = maindata.fileSRC;
                        var hfCaptcha = maindata.captchaval;

                        // and then to display the image
                        var img = document.getElementById("imgCapcha");
                        fdhfCaptcha.value = hfCaptcha;

                        // alternatively, you can do this
                        img.src = "data:image/png;base64, " + encoded;
                    }
                    else {
                        ShowMessage(data.strMessage, "", data.type);
                    }
                }
            });
        }

        @try
        {
            @if (ViewBag.MyScriptToRun != null)
            {
                @if (!string.IsNullOrWhiteSpace(ViewBag.MyScriptToRun.ToString()))
                {
                    @Html.Raw(ViewBag.MyScriptToRun.ToString())
                }
            }
        }catch(Exception)
        {
        }
    </script>
}

<div class="auth-page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-sm-5 mb-4 text-white-50">
                    <div>
                        <a href="index.html" class="d-inline-block auth-logo">
                            <img src="@Href("~/Admin/images/logo-light.png")" alt="" height="20">
                        </a>
                    </div>
                    <p class="mt-3 fs-15 fw-medium">Premium Admin & Dashboard Template</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card mt-4">
                    <div class="card-body p-4">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Welcome Back !</h5>
                            <p class="text-muted">Sign in to continue to Velzon.</p>
                        </div>
                        <div class="p-2 mt-4">
                            <form method="post" asp-controller="Account" asp-action="Index" id="loginForm" autocomplete="off">
                                @Html.AntiForgeryToken()
                                <input type="hidden" class="form-control" asp-for="hfCaptcha">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" asp-for="Username" placeholder="Email Address" autocomplete="off">
                                </div>

                                <div class="mb-3">
                                    <div class="float-end">
                                        <a href="javascript:;" class="text-muted">Forgot password?</a>
                                    </div>
                                    <label class="form-label" for="password-input">Password</label>
                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                        <input type="password" class="form-control pe-5 password-input" asp-for="Password" placeholder="Password" autocomplete="off">
                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6 d-flex align-items-center">
                                        <div class="col-sm-9">
                                            <img id="imgCapcha" style="max-height: 39px;" class="me-2 border rounded" alt="Captcha Image"/>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-danger" onclick="return resetCaptchaImage();">
                                                <i class="mdi mdi-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" asp-for="Captcha" placeholder="Enter Captcha">
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <button class="btn btn-success w-100" type="button" onclick="return SubmitsEncry();">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->

                @* <div class="mt-4 text-center">
                    <p class="mb-0">Don't have an account ? <a href="auth-signup-basic.html" class="fw-semibold text-primary text-decoration-underline"> Signup </a> </p>
                </div> *@

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>