@model Velzon.Webs.Areas.Admin.Models.ChangeSMTPModel
@{
    ViewData["Title"] = "Change SMTP";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#btnSendEmailClear').click(function () {
                $('#TestSentEmail').val("");
            });

            $('#btnSendEmailTest').click(function () {
                ShowLoader();
                 var data={ "AntiforgeryFieldname": token, TestSentEmail: $('#TestSentEmail').val() };
                 var form = $('#frmChangesSMTP');
                 var token = $('input[name="AntiforgeryFieldname"]', form).val();
                 $.ajax({
                     type: "POST", url: ResolveUrl("/Admin/SendTestEmail"),
                     contentType: "application/x-www-form-urlencoded",
                     data: { "AntiforgeryFieldname": token,TestSentEmail: $('#TestSentEmail').val() },
                     dataType: "json",
                     success: function (data) {
                         if (data != null && data != undefined) {
                             ShowMessage(data.strMessage, "", data.type);
                             HideLoader();
                         }
                         else {
                             ShowMessage("Record not Send, Try again", "", "error");
                             HideLoader();
                         }
                     }
                 });
                HideLoader();
            });

            $('#SMTPIsTest').on('change.bootstrapSwitch', function(e) {
                 ShowLoader();
                 var data={ "AntiforgeryFieldname": token,SMTPIsTest: e.target.checked };
                 var form = $('#frmChangesSMTP');
                 var token = $('input[name="AntiforgeryFieldname"]', form).val();
                 $.ajax({
                     type: "POST", url: ResolveUrl("/Admin/UpdateSMTPEnvironment"),
                     contentType: "application/x-www-form-urlencoded",
                     data: { "AntiforgeryFieldname": token,SMTPIsTest: $('#SMTPIsTest').is(':checked') },
                     dataType: "json",
                     success: function (data) {
                         if (data != null && data != undefined) {
                             ShowMessage(data.strMessage, "", data.type);
                             HideLoader();
                         }
                         else {
                             ShowMessage("Record not saved, Try again", "", "error");
                             HideLoader();
                         }
                     }
                 });
                 HideLoader();
            });
        });
    </script>
}

<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <div class=row style="align-content:center;">
                            <div class="col-lg-6">
                                <h4 class="card-title" id="basic-layout-form">Send Test SMTP E-Mail</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row gx-3 gy-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TestSentEmail">Email Id</label>
                                <input type="text" asp-for="TestSentEmail" class="form-control" placeholder="Test Sent Email" />
                                <span asp-validation-for="TestSentEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <button type="button" id="btnSendEmailTest" class="btn btn-primary"><i class="icon-envelope"></i> Send Email</button>
                            <button type="button" id="btnSendEmailClear" class="btn btn-primary"> Clear Form</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <div class=row style="align-content:center;">
                            <div class="col-lg-6">
                                <h4 class="card-title" id="basic-layout-form">Change SMTP</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="pull-right">
                                    <input type="checkbox" asp-for="SMTPIsTest" class="switchery" data-size="sm" />
                                    <label asp-for="SMTPIsTest" class="font-medium-2 text-bold-600 ml-1">SMTP Is Test</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="ChangeSMTP" id="frmChangesSMTP" asp-area="Admin" method="post" asp-controller="Home" autocomplete="off" >
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row gx-3 gy-2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SMTPServer">SMTP Server</label>
                                    <input type="text" asp-for="SMTPServer" class="form-control" placeholder="SMTPServer" />
                                    <span asp-validation-for="SMTPServer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TestSMTPServer">Test SMTPS erver</label>
                                    <input type="text" asp-for="TestSMTPServer" class="form-control" placeholder="TestSMTPServer" />
                                    <span asp-validation-for="TestSMTPServer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="SMTPPortNull" class="form-label">SMTP Port Null</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="SMTPPortNull" />
                                    <label class="form-check-label" for="SMTPPortNull">Yes</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="TestSMTPPortNull" class="form-label">Test SMTP Port Null</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="TestSMTPPortNull" />
                                    <label class="form-check-label" for="TestSMTPPortNull">Yes</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="SMTPPort">SMTP Port</label>
                                    <input type="text" asp-for="SMTPPort" class="form-control" placeholder="SMTPPort" />
                                    <span asp-validation-for="SMTPPort" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TestSMTPPort">Test SMTP Port</label>
                                    <input type="text" asp-for="TestSMTPPort" class="form-control" placeholder="TestSMTPPort" />
                                    <span asp-validation-for="TestSMTPPort" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SMTPAccount">SMTP Account</label>
                                    <input type="text" asp-for="SMTPAccount" class="form-control" placeholder="SMTPAccount" />
                                    <span asp-validation-for="SMTPAccount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="TestSMTPAccount">Test SMTP Account</label>
                                    <input type="text" asp-for="TestSMTPAccount" class="form-control" placeholder="TestSMTPAccount" />
                                    <span asp-validation-for="TestSMTPAccount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SMTPPassword">SMTP Password</label>
                                    <input type="text" asp-for="SMTPPassword" class="form-control" placeholder="SMTPPassword" />
                                    <span asp-validation-for="SMTPPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="TestSMTPPassword">Test SMTP Password</label>
                                    <input type="text" asp-for="TestSMTPPassword" class="form-control" placeholder="TestSMTPPassword" />
                                    <span asp-validation-for="TestSMTPPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SMTPFromEmail">SMTP From Email</label>
                                    <input type="text" asp-for="SMTPFromEmail" class="form-control" placeholder="SMTPFromEmail" />
                                    <span asp-validation-for="SMTPFromEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="TestSMTPFromEmail">Test SMTP From Email</label>
                                    <input type="text" asp-for="TestSMTPFromEmail" class="form-control" placeholder="TestSMTPFromEmail" />
                                    <span asp-validation-for="TestSMTPFromEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row gx-3 gy-2">
                                <div class="col-md-3">
                                    <label asp-for="SMTPIsSecure" class="form-label">SMTP Is Secure</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" asp-for="SMTPIsSecure" />
                                        <label class="form-check-label" for="SMTPIsSecure">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="TestSMTPIsSecure" class="form-label">Test SMTP Is Secure</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" asp-for="TestSMTPIsSecure" />
                                        <label class="form-check-label" for="TestSMTPIsSecure">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="SMTPIsTestNull" class="form-label">SMTP Is Test Null</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" asp-for="SMTPIsTestNull" />
                                        <label class="form-check-label" for="SMTPIsTestNull">Yes</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label asp-for="TestSMTPIsTestNull" class="form-label">Test SMTP Is Test Null</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" asp-for="TestSMTPIsTestNull" />
                                        <label class="form-check-label" for="TestSMTPIsTestNull">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <button type="submit" value="ChangeSMTP" class="btn btn-primary"><i class="icon-settings"></i> Save Setting</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>