@model Velzon.Webs.Areas.Admin.Models.ChangeCouchDBModel
@{
    ViewData["Title"] = "Change CouchDB";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <div class=row style="align-content:center;">
                            <div class="col-lg-6">
                                <h4 class="card-title" id="basic-layout-form">Change CouchDB</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="ChangeCouchDB" id="frmChangesCouchDB" asp-area="Admin" method="post" asp-controller="Home" autocomplete="off" >
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row gx-3 gy-2">
                            <div class="col-md-12">
                                <label asp-for="CouchDBURL">CouchDBURL</label>
                                <input type="text" asp-for="CouchDBURL" class="form-control" placeholder="CouchDBURL" />
                                <span asp-validation-for="CouchDBURL" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="CouchDBDbName">CouchDBDbName</label>
                                <input type="text" asp-for="CouchDBDbName" class="form-control" placeholder="CouchDBDbName" />
                                <span asp-validation-for="CouchDBDbName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                    <label asp-for="CouchDBUser">CouchDBUser</label>
                                <input type="text" asp-for="CouchDBUser" class="form-control" placeholder="CouchDBUser" />
                                <span asp-validation-for="CouchDBUser" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="AllowCouchDBStore" class="font-medium-2 text-bold-600 ml-1">AllowCouchDBStore</label>
                                <input type="checkbox" class="switchery" asp-for="AllowCouchDBStore" data-size="sm" />
                            </div>
                            <div class="col-md-12 mt-4">
                                <button type="submit" value="ChangeCouchDB" class="btn btn-primary"><i class="icon-settings"></i> Save Setting</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>