@model ChangePasswordFormModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title" id="basic-layout-form">Change Profile</h4>
                    </div>
                    @*<p class="mb-0">This is the most basic and cost estimation form is the default position.</p>*@
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form asp-action="ChangePassword" id="frmChangesPassword" autocomplete="off" asp-area="Admin" asp-controller="Home">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="OldPassword" class="control-label">Old Password</label>
                                <input asp-for="OldPassword" class="form-control validpassword" type="password" placeholder="Old Password" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label">New Password</label>
                                <input asp-for="NewPassword" class="form-control validpassword" type="password" placeholder="New Password" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control validpassword" type="password" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="button" value="changepassword" class="btn btn-primary" onclick="return SubmitsEncry();"><i class="icon-note"></i> Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section  Scripts{
    <script src="~/Areas/Admin/Views/Home/ChangePassword.cshtml.js?dt=@DateTime.Now.ToString("ddMMyyyyfffttfff")"></script>
   @* <script>

        function SubmitsEncry() {

            var txtOldPassword = document.getElementById("OldPassword").value.trim();
            var txtNewPassword = document.getElementById("NewPassword").value.trim();
            var txtConfirmPassword = document.getElementById("ConfirmPassword").value.trim();
            if (txtOldPassword == "") {
                ShowMessage('Please enter OldPassword',"","error");
                return false;
            }
            if (txtNewPassword == "") {
                ShowMessage('Please enter NewPassword',"","error");
                return false;
            }
            else if (txtConfirmPassword == "") {
                ShowMessage('Please enter ConfirmPassword',"","error");
                return false;
            }
            else {
                txtOldPassword.value = FrontEncryptFront("OldPassword");
                txtNewPassword.value = FrontEncryptFront("NewPassword");
                txtConfirmPassword.value = FrontEncryptFront("ConfirmPassword");

                $('form#frmChangesPassword').submit();

                return true;
            }
        }
    </script>*@
}