@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@using System.Text.Json;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    long LangId = 1;
    try
    {
        LangId = (HttpContextAccessor.HttpContext.Session.Get("LanguageId") == null ? default(long) :
        JsonSerializer.Deserialize<long>(HttpContextAccessor.HttpContext.Session.Get("LanguageId")));
        if (LangId == null)
        {
            Velzon.Common.SessionWrapper.Set<long>(HttpContextAccessor.HttpContext.Session, "LanguageId", 1);
            LangId = 1;
        }
    }
    catch
    {
    }

}


<!-- Site Main Start -->
	<!-- Slider Start -->
	<div id="slider" class="bkBanner">
		<div class="home-slider owl-carousel" id="dvBanner">
			
		</div>
	</div>
	<!-- Slider End -->
	
	<!-- Announcement Start -->
	<div class="subscribe-section mt-20" id="skipdata">
		<div class="container-fluid">
			<div class="acme-news-ticker">
				<div class="row">
					<div class="col-md-2 col-lg-2">
						<div class="acme-news-ticker-label breaking-caret">
							<span class="font-weight-bold" id="tlAnnouncement">Announcement</span>
						</div>
					</div>
					<div class="col-md-9 col-lg-9  py-2">
						<div class="breaking-box">
							<div id="carouselbreaking" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner" id="dvAnnouncement">
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1 col-lg-1">
						<div class="navigation-box acme-news-ticker-controls">
							<a class="carousel-control-prev text-primary" href="#carouselbreaking" role="button"
							   data-bs-slide="prev">
								<i class="fas fa-angle-left" aria-hidden="true"></i>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next text-primary" href="#carouselbreaking" role="button"
							   data-bs-slide="next">
								<i class="fas fa-angle-right" aria-hidden="true"></i>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Announcement End -->
	<!-- About, Minister, News And Event Start, Project, Media, Client Start -->
	<div class="page-content">
		<!-- About, Minister Start -->
		<section class=" overflow-hidden">
			<div class="container">
				<div class="row">
					<!-- About Start -->
					<div class="col-xl-8 col-lg-8">
						<div class="about-two-content" id="dvWelComeNote">
							
						</div>
					</div>
					<!-- About End -->
					<!-- Minister Start -->
					<div class="col-xl-4 col-lg-4 mt-5">
						<div class="row">
							<div class="col-lg-12 col-md-12" id="dvMinister">
								
							</div>
						</div>
					</div>
					<!-- Minister End -->
				</div>
			</div>
		</section>


		<!-- About, Minister End -->

	<section class="section-lg active-onhover">
		<div class="container">
			<div class="pbmit-heading-subheading text-center">
				<h2 class="pbmit-title" id="tlServiceRate">Services Rates</h2>
			</div>
			<div class="row" id="divServiceRate">
				
			</div>
		</div>
	</section>
		<!-- News And Event Start -->
		<section class="pbmit-bg-color-light overflow-hidden">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-xl-6 col-lg-6">
						<div class="col-bg-img-two ttm-col-bgimage-yes ttm-bg ttm-right-span border40-img skincolor-border res-991-d-none">
							<div class="about-two-img-box"></div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 mt-5">
						<div class="title-strip">
							<h1 id="tlLatestNews">News & Events</h1>
						</div>
						<div class="front-notice-board newsletter">
							<div class="testimonial-five-box">
								<div class="pbminfotech-ele-ptable-style-1 row">
									<div class="pbmit-ptable-col">
										<div class="ltn__popular-post-widget">
											<marquee direction="up" scrollamount="4" scrolldelay="50"
													 behavior="scroll" onmouseover="this.stop();"
													 onmouseout="this.start();" height="300">
												<ul class="ps-0" id="dvNews">
													
												</ul>
											</marquee>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- News And Event End -->
		<!-- Project Start -->
		
	
	<section class="section-lg portfolio-bg-one">
		<div class="container">
			<div class="pbmit-heading-subheading">
				<h2 class="pbmit-title text-white" id="tlProjects">Projects</h2>
			</div>
			<div class="project-slider owl-carousel owl-loaded owl-drag" id="dvProject">
				
			</div>
			<div class="pbmit-header-info d-flex justify-content-center">

				<a href="@Href("/ProjectList")" class="pbmit-btn pbmit-btn-outline loginbtn">
					<span>View More</span>
				</a>
			</div>
		</div>
	</section>
		<!-- Project End -->
		<!-- Media Start -->
	<section class="section-md pbmit-bg-color-light">
		<div class="container">
			<div class="pbmit-heading-subheading text-center">
				<h2 class="pbmit-title" id="tlMedia">Media</h2>
			</div>
			<div class="gallery-slider owl-carousel" id="dvMedia">
				
			</div>
		</div>
	</section>
		<!-- Media End -->
		<!-- Client Start -->
		<section class="client-section-one bkClient">
			<div class="container">
			<div class="gog-slider owl-carousel" id="BrandLogos">
					
				</div>
			</div>
		</section>
		<!-- Client End -->
	</div>
	<!-- About, Minister, News And Event Start, Project, Media, Client End -->
<!-- Site Main End -->

<!-- Popup Start -->
<div class="modal fade" id="mdlFront" tabindex="-1" aria-labelledby="mdlFrontLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="DivDescriptionPopup">
                ...
            </div>
        </div>
    </div>
</div>
<!-- Popup End -->

<!-- Features Section -->
@section Scripts {
    <script src="@Href("~/Users/js/Index.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
}
